.GradientText {
  background: linear-gradient(
    90deg,
    rgb(51, 153, 255) 5%,
    rgb(51, 153, 255) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
}

.LandingBackgroundLarge {
  --grid-color: hsla(210, 100%, 45%, 0.175);

  background: linear-gradient(
      180deg,
      hsla(210, 100%, 50%, 0.015),
      rgb(15, 18, 20) 65%
    ),
    repeating-linear-gradient(
      180deg,
      transparent 0px,
      transparent 39px,
      var(--grid-color) 39px,
      var(--grid-color) 40px
    ),
    repeating-linear-gradient(
      90deg,
      var(--grid-color) 0,
      var(--grid-color) 1px,
      transparent 1px,
      transparent 40px
    );
  background-blend-mode: darken;
}

.HeadingScrollMargin {
  scroll-margin-top: 25px;
  scroll-snap-margin-top: 25px; /* iOS 11 and older */
}

.MarkdownBold {
  color: white;
}

.ast-highlight {
  background-color: hsla(210, 100%, 60%, 0.2);
  /* color: hsl(210, 100%, 60%) !important; */
}

.monaco-editor {
  outline: none !important;
}

.hidden {
  display: none !important;
}
